<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.zhku.jsj144.lzc.video">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:name=".application.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.UploadChoiceActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.UploadPreviewActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".activity.UploadProcessingActivity"
                android:process=":uploadProcessing"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.FavoritesActivity"
                android:process=":favorites"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.SubscribeActivity"
                android:process=":subscribe"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.HistoryActivity"
                android:process=":history"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.UserVideosActivity"
                android:process=":userVideos"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.PlayActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:hardwareAccelerated="true"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.InterceptorActivity">
        </activity>

        <service
                android:name=".service.UploadService"
                android:enabled="true"
                android:exported="false"
                android:process=":uploadService">
        </service>

        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.RegActivity">
        </activity>
    </application>

</manifest>